{% extends 'Admin/layout.html.twig' %}

{% block title %}Haskell Quiz 管理画面/ユーザー一覧{% endblock %}
{% block navbar_title %}ユーザー一覧{% endblock %}

{% block main %}
    <div class="card mb-3">
        <div class="card-header card-header-primary">
            ユーザー一覧
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>メールアドレス</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}