.front-Top_Header {
  display: flex;
  max-height: 200px;
  justify-content: center;
  align-items: center;
  img {
    height: 200px;
    @media screen and (max-width: 414px) {
      height: auto;
      width: 40%;
    }
  }
  span {
    padding-left: 30px;
    display: inline-block;
  }
}

.front-Top_SectionHeader {
  padding: 15px;
  border-radius: 30px;
  text-align: center;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}