{% extends 'Front/quiz/layout.html.twig' %}

{% block title %}
    クイズ
{% endblock %}


{% block page_header %}
    クイズ
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('front_index') }}">ホーム</a>
        </li>
        <li class="breadcrumb-item active">クイズ</li>
    </ol>
{% endblock %}

{% block content %}
<section class="section">
    <div class="row">
        {% for section in sections %}
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card card-cascade">
                    <div class="text-center card-header cyan-gradient">
                        <h2 class="h2-responsive card-header-title mt-3 mb-4">{{ section.name }}</h2>
                    </div>
                    <div class="card-body text-center">
                        <p>{{ section.description }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-primary btn-rounded waves-effect waves-light" href="{{ path('quiz_section', {slug: section.slug}) }}">GO!</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
