{% extends 'Front/layout.html.twig' %}

{% block side %}
    <div class="mb-4">
        {{ knp_menu_render('quiz_section', {currentClass: 'active', template: 'Front/menu/SectionSideMenu.html.twig'}) }}
    </div>
{% endblock %}