{% extends 'Front/user_reset_password/layout.html.twig' %}

{% block page_header %}
    <h1 class="text-center display-4">完了</h1>
{% endblock %}

{% block content %}
    <div class="row justify-content-md-center mb-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        {{ form_start(form) }}
                        {{ form_rest(form) }}
                        <a class="btn btn-secondary" href="{{ path('front_index') }}">キャンセル</a>
                        <button type="submit" class="btn btn-primary">確認</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
