{% extends 'base.html.twig' %}
{% block body %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('front_index') }}">
            Haskell Quiz
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">マイページ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('front_logout') }}">ログアウト</a>
                </li>
            </ul>
        </div>
    </nav>



    <div class="container mt-5">
        <h1 class="display-4 mb-5">
            {% block page_header %}{% endblock %}
        </h1>
        <div class="row">
            <div class="col-2">
                {% block side %}
                {% endblock %}
            </div>
            <div class="col-10">
                {% block main %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
