{% extends 'Front/user_register/layout.html.twig' %}

{% block page_header %}
    <h1 class="text-center display-4">登録</h1>
{% endblock %}

{% block content %}
    <div class="row justify-content-md-center mb-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_rest(form) }}
                    <div class="text-center">
                        <a class="btn btn-secondary" href="{{ path('front_index') }}">戻る</a>
                        <button type="submit" class="btn btn-primary">送信</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}